{% extends 'base.html' %}

{% block content %}
<h1>Bracket Generator</h1>
<p>Here is where you generate your brackets!</p>

    <form action="/setup" method="POST">
        {% for i in range(1, 9) %}
        <div>
            <label for="team{{ i }}">Team {{ i }}:</label>
            <input type="text" id="team{{ i }}" name="team{{ i }}" placeholder="Enter team name" required>
        </div>
        {% endfor %}

        <button type="submit">Generate Bracket</button>
        <div class="back-link">
            <a href="{{ url_for('index') }}">Back to Home</a>
        </div>
    </form>

{% for round_num in [1, 2, 3, 4] %}
<div class="round">
    <h2>
        {% if round_num  == 1 %} Round of 16
        {% elif round_num == 2 %} Quarterfinals
        {% elif round_num == 3 %} Semifinals
        {% elif round_num == 4 %} Final
        {% endif %}
    </h2>
    {% for match in matches if match.round == round_num %}
    <div class="match">

        <div class="team {% if match.winner_id == match.team1_id %}winner{% endif %}">
            {% if match.team1_id %}
                {{ match.team1.name }}
            {% else %}
                TBD
            {% endif %}
        </div>

        <div class="team {% if match.winner_id == match.team2_id%}winner{% endif %}">
            {% if match.team2_id %}
                {{ match.team2.name }}
            {% else %}
                TBD
            {% endif %}
        </div>

    </div>
    {% endfor%}
</div>
{% endfor %}


</div>
{% endblock %}