{% extends 'base.html' %}

{% block content%}

<h1 class="page-title">Rules</h1>
<p>Here are the rules for the different sports to inform the players in advance.</p>

<div class="card-container">    
    <div class="card">
        <img src="{{ url_for('static', filename='/images/IMG_0669.JPG') }}" class="card-img-top" alt="Badminton">
        <div class="card-content">
            <h5>Badminton</h5>
            <p>Rules for Badminton:</p>
            <a href="{{ url_for('badminton') }}" class="btn">View Rules</a>
        </div>
    </div>
    <div class="card">
        <img src="{{ url_for('static', filename='/images/images (2).jpeg')}}" class="card-img-top" alt="Football">
        <div class="card-content">
            <h5>Football</h5>
            <p>Rules for Football:</p>
            <a href="{{ url_for('football') }}" class="btn">View Rules</a>
        </div>
    </div>
    <div class="card">
        <img src="{{ url_for('static', filename='/images/images (3).jpeg') }}" class="card-img-top" alt="Basketball">
        <div class="card-content">
            <h5>Basketball</h5>
            <p>Rules for Basketball:</p>
            <a href="{{ url_for('football') }}" class="btn">View Rules</a>
        </div>
    </div>
    <div class="card">
        <img src="{{ url_for('static', filename='/images/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvZnJiYWxsX2Zvb3RiYWxsX2dhbWVfc3BvcnQtaW1hZ2Uta3liZWE4b3guanBn.jpg')}}" class="card-img-top" alt="Volleyball">
        <div class="card-content">
            <h5>Volleyball</h5>
            <p>Rules for Volleyball:</p>
            <a href="{{ url_for('football') }}" class="btn">View Rules</a>
        </div>
    </div>
</div>


{% endblock %}