{% extends 'base.html' %}

{% block content%}

<h1 class="page-title">Rules</h1>
<p>Here are the rules for the different sports to inform the players in advance.</p>

<div class="card-container">    
    <div class="card">
        <img src="{{ url_for('static', filename='L1110664.JPG') }}" class="card-img-top" alt="Badminton">
        <div class="card-content">
            <h5>Badminton</h5>
            <p>Rules for Badminton:</p>
            <a href="{{ url_for('badminton') }}" class="btn">View Rules</a>
        </div>
    </div>
    <div class="card">
        <img src="{{ url_for('static', filename='images (2).jpeg')}}" class="card-img-top" alt="Football">
        <div class="card-content">
            <h5>Football</h5>
            <p>Rules for Football:</p>
            <a href="{{ url_for('football') }}" class="btn">View Rules</a>
        </div>
    </div>
</div>


{% endblock %}