{% extends 'base.html' %}

{% block content%}
<h1>Rules</h1>
<p>Here are the rules for the different sports to inform the players in advance.</p>

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <img src="{{ url_for('static', filename='L1110664.JPG') }}" class="card-img-top" alt="Badminton">
                <h5 class="card-title">Badminton</h5>
                <h6 class="card-sub mb-2 text-body-secondary">Rules for Badminton:</h6>
                <p class="card-text">Click here to learn more about Badminton:</p>
                <a href="{{ url_for('badminton') }}" class="card-link">Card link</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <img src="{{ url_for('static', filename='images (2).jpeg')}}" class="card-img-top" alt="Football">
                <h5 class="card-title">Football</h5>
                <h6 class="card-sub mb-2 text-body-secondary">Rules for Football:</h6>
                <p class="card-text">Click here to learn more about Football:</p>
                <a href="{{ url_for('football') }}" class="card-link">Card link</a>
            </div>
        </div>
    </div>    
</div>
{% endblock %}